 
  <div>
      <ux-h1> Dashboard: Weather city</ux-h1>  
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="city">City: </label>
          <input placeholder="Es: Girona" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="search" class="form-control" id="name" required>
          <button [disabled]="!search"  type="submit" class="btn btn-success ">Submit</button>
        </div>
      </form>

      <div *ngIf="weatherCity">
        <ux-weatherInfo label="Today" [data]="weatherCity"></ux-weatherInfo>
      </div>
      <div *ngIf="weatherCityForestcast">
        <ux-weatherInfo label="Next coming days" [data]="weatherCityForestcast"></ux-weatherInfo>
      </div>
      
      <div>{{errormessage}}</div>

    </div>