<div *ngIf="printData">
  <div class="ux-weatherInfo__label">
    {{label}}
  </div>    
  <ng-container >
    <div class="ux-weatherInfo__container">
    <ul>
        <li *ngFor="let weather of printData">
          <!--
            in order to leave the component open as much as possible
            it' d be better to do a foreach and read the key value from the input object intead to print statically the values.
            I haven't done it just because i have to deliver within tomorrow moring.
          -->
          {{ weather.date  | date:'dd-MM-yyyy' }}
          ---- Min : {{ weather.temp_min }} °C
          ---- Max : {{ weather.temp_max }} °C
          ---- Humidity : {{ weather.humidity }} %
          ---- {{ weather.description }}
          <img src="http://openweathermap.org/img/w/{{weather.icon}}.png">
        </li>
      </ul>
    </div>
  </ng-container>
</div>



